@import "tailwindcss";

.scroller::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.scroller::-webkit-scrollbar-track {
  background: transparent; /* Color of the track */
}

.scroller::-webkit-scrollbar-thumb {
  background: #777; /* Color of the thumb */
  border-radius: 4px; /* Rounded corners for the thumb */
}

.scroller::-webkit-scrollbar-thumb:hover {
  background: #999; /* Color of the thumb on hover */
}